<div class="container">
  <h1>Q1</h1>
  <div class="card">
    <div class="card-header">問題1.  地球で一番高い山は？</div>
     <div class="card-body">
      <div class="card-text">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="q1-q1" value="1">
          <label class="form-check-label">K2</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="q1-q1" value="2">
          <label class="form-check-label">エベレスト</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="q1-q1" value="3">
          <label class="form-check-label">富士山</label>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">問題2.  太陽系で一番重い惑星は？</div>
     <div class="card-body">
      <div class="card-text">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="q1-q2" value="1">
          <label class="form-check-label">地球</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="q1-q2" value="2">
          <label class="form-check-label">火星</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="q1-q2" value="3">
          <label class="form-check-label">木星</label>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">問題3.  日本で一番広い都道府県は？</div>
     <div class="card-body">
      <div class="card-text">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="q1-q3" value="1">
          <label class="form-check-label">福島県</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="q1-q3" value="2">
          <label class="form-check-label">岩手県</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="q1-q3" value="3">
          <label class="form-check-label">北海道</label>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <button class="btn btn-primary btn-block result-btn" id="btnCheck1">結果を見る</button>
  </div>

  <div class="card">
    <div class="card-header"></div>
    <div class="card-body result">結果は..</div>
    <div class="card-footer"></div>
  </div>
</div>
